{% extends "ChateaSecureBundle::layout.html.twig" %}

{% trans_default_domain 'Login' %}

{% block body %}
    <h1 class="title">{{ "login.login" | trans }}</h1>

    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}

    <form action="{{ path("_security_check") }}" method="post" id="login">
        <div>
            <label for="username">{{ "login.username" | trans }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required/>
        </div>

        <div>
            <label for="password">{{ "login.password" | trans }}</label>
            <input type="password" id="password" name="_password" />
        </div>

        <button type="submit" class="sf-button">
            <span class="border-l">
                <span class="border-r">
                    <span class="btn-bg">{{ "login.submit" | trans }}</span>
                </span>
            </span>
        </button>
    </form>
{% endblock %}

{#{% set code = code(_self) %}#}
